/* index.css */
#wrap main {}
#wrap main #hero_bnr {
    height: 830px; min-width: 1220px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 425px;
}
#wrap main #hero_bnr .ad_txt { text-align: center;}
#wrap main #hero_bnr .ad_txt p { font-size: 1.88rem; font-weight: 600;} 
#wrap main #hero_bnr .ad_txt h1 { font-size:3.13rem; font-weight: 700;}
#wrap main #hero_bnr .ad_txt p,
#wrap main #hero_bnr .ad_txt h1 {
    /* text-shadow : x , y 흐림색상*/
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff; line-height: 1.5;
    font-family: 'noto sans kr' , san-serif;
}
#wrap main #hero_bnr #reservation_form {
    width: 1020px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex; /* 객실 체크인 아웃 인원 검색 자식들 정렬 flex */
    flex-flow: row nowrap; /* 메인축(수평) */
    align-items: center; justify-content: space-between;
}
#wrap main #hero_bnr #reservation_form .room {}
/* 객실~인원 공통 디자인 */
#wrap main #hero_bnr #reservation_form .room h2,
#wrap main #hero_bnr #reservation_form .check_in_out .in h2,
#wrap main #hero_bnr #reservation_form .check_in_out .out h2,
#wrap main #hero_bnr #reservation_form .person h2 {
    font-size: 1.0rem;
    margin-bottom: 8px;
}
#wrap main #hero_bnr #reservation_form h2+div,
#wrap main #hero_bnr #reservation_form ul li {
    background-color: lightgreen;
}
/* 객실선택 */
#wrap main #hero_bnr #reservation_form .room h2 {}
#wrap main #hero_bnr #reservation_form .room .room_type:hover .room_open {display: block;}
#wrap main #hero_bnr #reservation_form .room .room_type {
    position: relative;
}
#wrap main #hero_bnr #reservation_form .room .room_type > a,
#wrap main #hero_bnr #reservation_form .room .room_type > .room_open a {
    /* 포사이드방 */
    width: 170px; 
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 6px; border: 1px solid #ddd;
    background-color: #fff;
}/* flex 설정시 형제끼리 크기 맞추는 자동 설정 때문에 이미지 비율이 망가져 보일 수 있음(메인 교차 축 설정하면 해결됨) */
#wrap main #hero_bnr #reservation_form .room .room_type > a .name,
#wrap main #hero_bnr #reservation_form .room .room_type > .room_open .name {
    font-size: 0.88rem;
}
#wrap main #hero_bnr #reservation_form .room .room_type > a .name span,
#wrap main #hero_bnr #reservation_form .room .room_type > .room_open .name span {
    font-size: 0.75rem;
    color: #888;
}
#wrap main #hero_bnr #reservation_form .room .room_type > a img {}
#wrap main #hero_bnr #reservation_form .room .room_open {
    position: absolute; left: 0; top: 52px;
    display: none; /* 초기숨기기 */
    /* absolute 설정시 기존 태그 크기가 liline-block 처럼 바뀜 */
}
#wrap main #hero_bnr #reservation_form .room .room_open a {}
#wrap main #hero_bnr #reservation_form .room .room_open a .name {}
#wrap main #hero_bnr #reservation_form .room .room_open a .name span {}
#wrap main #hero_bnr #reservation_form .check_in_out {
    display: flex; flex-flow: row nowrap;
    /* 필수 메인축방향 줄바꿈 처리 flex-flow */
    gap: 10px;
}
/* 체크인&아웃 공통 */
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in a,
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a {
    width: 160px; height: 52px;
    border: 1px solid #ddd; border-radius: 6px;
    display: flex; flex-flow: row nowrap; padding: 0 10px;
    align-items: center; justify-content: space-between;
    background-color: #fff;
}

#wrap main #hero_bnr #reservation_form .check_in_out .in {}
#wrap main #hero_bnr #reservation_form .check_in_out .in h2 {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in a {
}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in a .date {
    font-size: 0.88rem;
}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in a .img {}
#wrap main #hero_bnr #reservation_form .check_in_out .day {
    display: flex; flex-flow: column nowrap;
}
#wrap main #hero_bnr #reservation_form .check_in_out .day img {
    margin-bottom: 8px;
}
#wrap main #hero_bnr #reservation_form .check_in_out .day em {
    font-size: 0.88rem;
}
#wrap main #hero_bnr #reservation_form .check_in_out .out {}
#wrap main #hero_bnr #reservation_form .check_in_out .out h2 {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a {
}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a .date {
    font-size: 0.88rem;
}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a img {}
/* =====================================================================================인원 */
#wrap main #hero_bnr #reservation_form .person {}
#wrap main #hero_bnr #reservation_form .person h2 {}
#wrap main #hero_bnr #reservation_form .person .number {
    display: flex; flex-flow: row nowrap; 
    gap: 10px;
}
/* ======================================================================================인원 공통 */
#wrap main #hero_bnr #reservation_form .person .number li {
    width: 160px; 
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px; 
    border-radius: 6px; border: 1px solid #ddd;
    background-color: #fff;
}
#wrap main #hero_bnr #reservation_form .person .number li .number_btn {
    width: 24px; height: 24px;
}
#wrap main #hero_bnr #reservation_form .person .number li .number_btn img {}
#wrap main #hero_bnr #reservation_form .person .number li span { font-size: 0.88rem; }
#wrap main #hero_bnr #reservation_form .person .number li span label {}
#wrap main #hero_bnr #reservation_form .person .number li span input {
    width: 30px; text-align: center;
}
/* ====================================================================================인원 개별(성인/어린이) */
#wrap main #hero_bnr #reservation_form .person .number li #adult_add {}
#wrap main #hero_bnr #reservation_form .person .number li #adult_remove {}
#wrap main #hero_bnr #reservation_form .person .number li span #adult { }
#wrap main #hero_bnr #reservation_form .person .number li span #kid { }
#wrap main #hero_bnr #reservation_form .person .number li span #kid_add {}
#wrap main #hero_bnr #reservation_form .person .number li span #kid_remove {}
/* ===============================================================================================================검색버튼 */
#wrap main #hero_bnr #reservation_form > p {
    position: relative;
    top: 10px;
}
#wrap main #hero_bnr #reservation_form > p #search_btn {
    width: 78px; height: 52px; color: #fff;
    font-size: 0.88rem;
    border-radius: 6px;
    background-color: #4843A7;
}
/* ==================================================================================================================제목 공통 */
#wrap main #introduction .info h2,
#wrap main #tourist_attraction #tourism .tourism_title h2,
#wrap main #room_information #reservation .reservation_title h2,
#wrap main #map_find #maprow .maprow_title h2 {
    font-size: 1.50rem;
    line-height: 1.5rem;
}
/* 1행 시작======================================================================== */
#wrap main #introduction {
    background-color: aqua;
}
#wrap main #introduction .info {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-self : center;
    gap: 12px;
}
#wrap main #introduction .info h2,
#wrap main #introduction .info p {
}/* 공통 */
#wrap main #introduction .info h2 {}
#wrap main #introduction .info p {
    font-size: 0.94rem;
    color: #555;
    line-height: 1.5rem;
}
#wrap main #introduction .info img {}
#wrap main #tourist_attraction {
    background-color: aquamarine;
}
#wrap main #tourist_attraction #tourism {
    display: flex;
    flex-flow: column;
    align-content: center;
}
#wrap main #tourist_attraction #tourism #tourism_title {}
#wrap main #tourist_attraction #tourism #tourism_title h2 {}
#wrap main #tourist_attraction #tourism #tourism_title p {}
#wrap main #tourist_attraction #tourism ul{}
#wrap main #tourist_attraction #tourism ul .tourism_place {
    display: inline-block;
    width: calc(100% / 4); }
#wrap main #tourist_attraction #tourism ul .tourism_place a {}
#wrap main #tourist_attraction #tourism ul .tourism_place a img {}
#wrap main #tourist_attraction #tourism ul .tourism_place a p {}
#wrap main #tourist_attraction #tourism a {}
#wrap main #room_information {}
#wrap main #room_information #reservation {}
#wrap main #room_information #reservation .reservation_title {}
#wrap main #room_information #reservation .reservation_title h2 {}
#wrap main #room_information #reservation .reservation_title p {}
#wrap main #room_information #reservation .roominfo {}
#wrap main #room_information #reservation .roominfo ul {}
#wrap main #room_information #reservation .roominfo ul .reservation_type {}
#wrap main #room_information #reservation .roominfo ul .reservation_type a {}
#wrap main #room_information #reservation .roominfo ul .reservation_type a img {}
#wrap main #room_information #reservation .roominfo ul .reservation_type a img p {}
#wrap main #room_information #reservation .roominfo ul .reservation_type a img p {}
#wrap main #room_information #reservation a {}
#wrap main #map_find {}
#wrap main #map_find #maprow {}
#wrap main #map_find #maprow .maprow_title {}
#wrap main #map_find #maprow .maprow_title h1 {}
#wrap main #map_find #maprow .maprow_title p {}
#wrap main #map_find #maprow img {}
#wrap main #map_find #maprow .public_transport {}
#wrap main #map_find #maprow .public_transport h2 {}
#wrap main #map_find #maprow .public_transport h2 p {}